body {
  background: linear-gradient(to bottom, #F5FFF6 0%, #C2BCB7 100%) no-repeat center center fixed;
  height: 100%;
  padding: auto 0;
  margin: 0;
  vertical-align: middle;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

.img {
  width: 100%;
  height: 800px;
  padding: 0;
  background: url("../img/desk.JPG") fixed center no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 100px;
  color: white;
}

.hr {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align: center;
  padding: 0;
  margin: 30px auto;
  width: 800px;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

li {
  display: inline;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
  transition: all 1s; 
    -o-transition: all 1s; 
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
}

a:link {
  color: white;
  font-size: 40px;
  padding: 10px 25px;
  text-decoration: none;
}

.two {
  width: 60%;
  height: 750px;
  padding: 0px;
  background: url("../img/point.JPG") fixed left no-repeat;
  background-size: cover;
}

img {
  float: right;
  width: 400px;
  padding-top: 150px;
  padding-right: 75px;
}

.thr {
  width: 60%;
  height: 600px;
  padding: 0px;
  background: url("../img/sand.JPG") fixed center no-repeat;
  background-size: cover;
}

.four {
  width: 100%;
  height: 800px;
  padding: 0;
  background: url("../img/trian.JPG") fixed center no-repeat;
  background-size: cover;
}







  font-family: 'Nothing You Could Do', cursive;




























